@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: "Chakra Petch", sans-serif;
}


html {
  scroll-behavior: smooth;
  
}

body {
  background: linear-gradient(to bottom right, #0c0a09, #2b0c48);
  min-height: 100vh;
  margin: 0;
}

